
/* -----------HTML------------- */

body {
    /* display: flex; */
    min-height: 100vh;
    width: 80%;
    margin: 0;
    padding: 0;
    /* border-collapse: collapse;
    align-items: center;
    justify-content: center; */
    font-family: mono45-headline, monospace, Helvetica;
    background-color: #404040;
    color: white; 
}
  
  h1 {
    font-size: 3.5em;
    margin-top: 75px;
    margin-bottom: 2px;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
    letter-spacing: 10px;
    text-shadow: 1px 0px 1px #969696; }
  
  h3 {
    font-family: Helvetica;
    font-size: 0.75em;
    margin-top: 2px;
    letter-spacing: 5px;


}
  
  h4 {
    font-size: 2em;
    margin-top: 15px;
    letter-spacing: 5px;
    text-shadow: 1px 0px 1px #969696;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; 
    /* background-color: pink; */
}

  
  h5 {
    /* background-color: red; */
    font-size: 1.5em;
    letter-spacing: 5px;
    margin-top: 30px;
    margin-bottom: 20px;
    text-shadow: 1px 0px 1px #969696;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black; 
}

h6{
    font-family: Helvetica;
}
    footer{
        text-align: left;
        /* background: pink; */
    }
    #indexHeaders {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 20px; 
    }

    /* .container-fluid{
        /* margin-top: auto; */
        /* margin-bottom: 25%; */
        /* margin: 50px; */

        /* background-color: blue; */


ul{
    font-family: Helvetica;
}

/* -----------CANVAS------------- */


/* #defaultCanvas0{
    margin-left: 100px;
    margin-right: 10px;
} */


/* -----------TOOLBOX------------- */

#toolsHeader{
    text-align: center;
    margin-top: 75px;
}

#toolBox{
    margin-top: 40px;
}

  #toolBoxHeading {
    /* background-color: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 25px; 
}
  
  #vectorImage {
    display: flex;
    justify-content: space-between; 
}


/* -----------TOOLS AND MODULES------------- */

#modules {
    text-align: center;
    background-color: black;
    border-radius: 10px; 
    margin-top: 5px;
    margin-bottom: 12px;
}
   

.dropdown-menu {
    text-align: center; 
}

.delete{
    margin-left: 5px;
}




/* -----------USER BUTTONS------------- */

.user{
    border-radius: 20px;
    width: 30%;
    height: 60px;
    border: 2px solid black;
    margin-bottom: 5px;
    font-family: Helvetica;
}

#gallery{

}

#info{

}

#new{

}

#save{

}




/* -----------GALLERY------------- */

#backToDrawButton{
    width: 200px;
    height: 50px;
}

#galleryPicsContainer{
    margin-bottom: 15px;
}

#galleryAndBackToDraw .container{
    display:flex;
    justify-content: center;
}


#galleryHeaders{
    text-align: center;
    margin-bottom: 25px;
}

.galleryTitle{
    margin-top: 5px;
    /* text-align:center; */
}

.galleryPicture{
    margin: 15px;
}






  

/* -----------FOOTER------------- */

#poweredBy {
    margin-top: 20px;
    margin-left: 50px; 
}


.row.no-gutters {
    margin-right: 0;
    margin-left: 20px;
  }
  .row.no-gutters,
  .row.no-gutters  {
    padding-right: 0;
    padding-left: 0;
  }


  .modal-body{
      color: black;
  }

/* -----------CLICK STATES------------- */

.hoverState{
    border: 2px outset white;
    border-radius: 10px;
    background: black;
    color: white;
}